<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
    <classes>
      <class name="automation.BaseTest"/>
      <class name="automation.AddItemToCartTest"/>
      <class name="automation.BottomLinkValidationTest"/>
      <class name="automation.BrokenLinkValidator"/>
      <class name="automation.CheckoutPageTest"/>
      <class name="automation.OpenBestBuyTest"/>
      <class name="automation.OrderConfirmationTest"/>
      <class name="automation.SignUpAndLoginTest"/>
      <class name="automation.TitleTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
